<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>

        <!-- Navbar -->
                <!-- desktop display -->
        <div class="columns is-mobile is-hidden-mobile">
            <div class="column is-3 is-offset-1">
                <a href="/"><img src="/images/snowtricks.png" alt="logo Snowtricks" title="snowtricks"></a>
            </div>
            <div class="column is-6">
                <div class="tabs is-right ">
                    <ul>
                        <li class="is-active"><a href="/">Accueil</a></li>
                        <li><a href="#">Tricks</a></li>
                        <li><a href="#">Connexion</a></li>
                        <li><a href="#">Inscription</a></li>
                    </ul>
                </div>
            </div>
            <div class="column is-2">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                            <span>Compte</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                        <div class="dropdown-content">
                            <a href="#" class="dropdown-item">
                                Editer
                            </a>
                            <a href="#" class="dropdown-item">
                                Déconnexion
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- mobile phone -->
        <div class="columns is-hidden-tablet">
            <nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
                <div class="tabs is-fullwidth is-boxed">
                    <ul>
                        <li><a href="/home">
                                <span class="icon">
                                    <i class="fas fa-home" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                        <li><a href="#">
                                <span class="icon">
                                    <i class="fas fa-bookmark" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                        <li><a href="#">
                                <span class="icon">
                                    <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end Navbar -->
        
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        {% endblock %}
    </body>
</html>
