<!-- desktop display -->
<div class="columns is-mobile is-hidden-mobile">
    <div class="column is-offset-1">
        <a href="/home"><img src="/images/snowtricks.png" alt="logo Snowtricks" title="snowtricks"></a>
    </div>
    <div class="column">
        <div class="tabs is-right is-5">
            <ul>
                <li class="is-active"><a href="/home">Home</a></li>
                <li><a href="#">Tricks</a></li>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- mobile phone -->
<div class="columns is-hidden-tablet">
<nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
    <div class="navbar-item">
        <div class="tabs is-fullwidth is-toggle">
            <ul>
                <li><a href="/home">
                        <span class="icon">
                            <i class="fas fa-home" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
                <li><a href="#">
                        <span class="icon">
                            <i class="fas fa-bookmark" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
                <li><a href="#">
                        <span class="icon">
                            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>